<mindtagger mode="precision">

  <template for="each-item">
  Document <strong>{{item.doc_id}}</strong> is annotated in MeSH to discuss <strong>{{item.entity}} ({{item.hpo_name}})</strong>: 
    <blockquote>
        <big mindtagger-word-array="item.words" array-format="postgres">
          <mindtagger-highlight-words index-array="item.wordidxs" array-format="postgres" with-style="background-color: yellow;"/>
        </big>
    </blockquote>

    <div mindtagger-item-details></div>
  </template>

  <template for="tags">
    <span mindtagger-adhoc-tags></span>
    <span mindtagger-note-tags></span>
  </template>

</mindtagger>
