<mindtagger mode="precision">

<template for="each-item">
  <strong>{{item.relation_name}}</strong> (expectation:
  <strong>{{item.expectation}}</strong>, gene_expectation:
  <strong>{{item.gene_expectation}}</strong>, hpoterm_expectation:
  <strong>{{item.pheno_expectation}}</strong>) in:
  <blockquote>
    <!-- <span class="text-muted">{{item.sentences_before | concatArray:'postgres'}}</span> -->
    <big mindtagger-word-array="item.words" array-format="postgres">
      <mindtagger-highlight-words index-array="item.gene_wordidxs" array-format="postgres" with-style="background-color: yellow; text-decoration: underline;"/>
      <mindtagger-highlight-words index-array="item.pheno_wordidxs" array-format="postgres" with-style="background-color: aquamarine; text-decoration: underline;"/>
    </big>
    <!-- <span class="text-muted">{{item.sentences_after | concatArray:'postgres'}}</span> -->
  </blockquote>

  <!-- Enumerate features with weights (leveraging AngularJS a bit more)-->
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <table class="table table-striped table-condensed table-hover">
        <thead><tr>
          <th class="col-sm-1">Weight</th>
          <th>Feature</th>
        </tr></thead>
	<tbody>
	  <tr ng-repeat="feature in item.features | parsedArray:'postgres'">
	    <td class="text-right">{{(item.weights | parsedArray:'postgres')[$index] | number:6}}</td>
	    <th>{{feature}}</th>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>

  <div mindtagger-item-details></div>
</template>
<template for="tags">
  <span mindtagger-adhoc-tags></span>
  <span mindtagger-note-tags></span>
</template>
</mindtagger>
