<div ng-if="extraction">
<div>
    <strong>Is this ({{extraction.gene_name}}, {{extraction.pheno_entity}}), with expectation of {{extraction.genepheno_causation_inference_relation_id[0].expectation}}, a genepheno causation? : {{extraction.is_correct}}</strong>
</div>

<div ng-if="!searchResult.highlight['text']">
    <strong class="text-muted">Review content:</strong>
    <blockquote>
        <big mindtagger-word-array="source.words" array-format="postgres">
           <mindtagger-highlight-words from="extraction.gene_wordidxs[0]" to="extraction.gene_wordidxs[{{extraction.gene_wordidxs.length}}-1]" array-format="postgres" with-style="background-color: yellow;"/>
           <mindtagger-highlight-words from="extraction.pheno_wordidxs[0]" to="extraction.pheno_wordidxs[{{extraction.pheno_wordidxs.length}}-1]"  array-format="postgres" with-style="background-color: cyan;"/> 
        </big>
        <small>{{extraction.relation_id}}</small>
    </blockquote>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped table-condensed table-hover">
          <thead><tr>
              <th class="col-sm-1">Weight</th>
              <th>Feature</th>
          </tr></thead>
          <tbody>
            <tr ng-repeat="features in extraction.features | parsedArray:'postgres' | limitTo:6 ">
              <td class="text-right">{{(extraction.weights | parsedArray:'postgres')[$index]}}</td>
              <th>{{(extraction.features | parsedArray:'postgres')[$index]}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
