<div ng-if="extraction">
<div>
    <strong>The gene {{extraction.words}}, with expectation of {{extraction.expectation}}, is labeled as {{extraction.is_correct}}</strong>
</div>

<div ng-if="!searchResult.highlight['text']">
    <strong class="text-muted">Review content:</strong>
    <blockquote>
        <div>{{source.words}}</div>
        <small>{{extraction.mention_id}}</small>
    </blockquote>
    <blockquote>
    	<div>Features:</div>
    	<div>{{extraction.feature}}</div>
    </blockquote>
</div>
</div>
