<div ng-if="extraction">
<div>
   <strong>Is this ({{extraction.gene_name}}, {{extraction.pheno_entity}}), with expectation of {{extraction.genepheno_association_inference_relation_id[0].expectation}}, a genepheno causation? : {{extraction.is_correct}}</strong>
</div>

<div ng-if="!searchResult.highlight['text']">
    <strong class="text-muted">Review content:</strong>
    <blockquote>
        <div>{{source.words}}</div>
        <small>{{extraction.relation_id}}</small>
    </blockquote>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped table-condensed table-hover">
          <thead><tr>
              <th class="col-sm-1">Weight</th>
              <th>Feature</th>
          </tr></thead>
          <tbody>
            <tr ng-repeat="features in extraction.features | parsedArray:'postgres'">
              <td class="text-right">{{(extraction.weights | parsedArray:'postgres')[$index]}}</td>
              <th>{{(extraction.features | parsedArray:'postgres')[$index]}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
