<div ng-if="extraction">
<div>
    <strong>The gene {{extraction.words}}, with expectation of {{extraction.gene_mentions_filtered_inference_mention_id[0].expectation}}, is labeled as {{extraction.is_correct}}</strong>
</div>

<div ng-if="!searchResult.highlight['text']">
    <strong class="text-muted">Review content:</strong>
    <blockquote>
        <big mindtagger-word-array="source.words" array-format="postgres">
           <mindtagger-highlight-words from="extraction.wordidxs" to="extraction.wordidxs" array-format="postgres" with-style="background-color: yellow;"/> 
        </big>
        <small>{{extraction.mention_id}}</small>
    </blockquote>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped table-condensed table-hover">
          <thead><tr>
              <th class="col-sm-1">Weight</th>
              <th>Feature</th>
          </tr></thead>
          <tbody>
            <tr ng-repeat="features in extraction.features | parsedArray:'postgres' | limitTo:6 ">
              <td class="text-right">{{(extraction.weights | parsedArray:'postgres')[$index]}}</td>
              <th>{{(extraction.features | parsedArray:'postgres')[$index]}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
